@font-face {
  font-family: 'Old English Text MT';
  src: local('Old English Text MT'),
       url('/fonts/oldenglishtextmt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
